@media (max-width: 59em) {
  main {
    padding-inline: 2.4rem;
  }
}

@media (max-width: 44em) {
  main {
    padding-inline: 2.4rem;
  }
}

@media (max-width: 34em) {
  main {
    padding-inline: 2.4rem;
  }

  #btn-create-span {
    display: none;
  }
}
